Flow 2.json
[{"id":"166d23a4.e2164c","type":"tab","label":"Flow 7","disabled":false,"info":""},{"id":"995eabca.8c4478","type":"mqtt in","z":"166d23a4.e2164c","name":"","topic":"mcs/Dwo0Ju0N/0kAAS32r0fDVc8hZ/+","qos":"2","datatype":"auto","broker":"cd51e01b.db3a9","x":260,"y":280,"wires":[["9bfced8f.c7d94"]]},{"id":"66e21f1f.28f09","type":"function","z":"166d23a4.e2164c","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":200,"wires":[[]]},{"id":"9bfced8f.c7d94","type":"csv","z":"166d23a4.e2164c","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":",,Data","skip":"0","strings":true,"x":240,"y":420,"wires":[["42aa956.291d76c"]]},{"id":"42aa956.291d76c","type":"change","z":"166d23a4.e2164c","name":"Get Data","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":560,"wires":[["ae30d38f.4645b"]]},{"id":"ae30d38f.4645b","type":"ui_gauge","z":"166d23a4.e2164c","name":"","group":"2b6b976f.3dd958","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":320,"y":640,"wires":[]},{"id":"cd51e01b.db3a9","type":"mqtt-broker","z":"","name":"MCS Cloud","broker":"mqtt.mcs.mediatek.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2b6b976f.3dd958","type":"ui_group","z":"","name":"Status","tab":"b16961f4.59999","order":1,"disp":true,"width":"6","collapse":false},{"id":"b16961f4.59999","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]