Flow 1.json
[{"id":"6066f9ed.e44db8","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"3156021c.3af73e","type":"inject","z":"6066f9ed.e44db8","name":"","topic":"","payload":",,25.5","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":260,"wires":[["9d84291f.e77428"]]},{"id":"f2b9858.1365f78","type":"inject","z":"6066f9ed.e44db8","name":"","topic":"","payload":",,12.8","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":380,"wires":[["9d84291f.e77428"]]},{"id":"9d84291f.e77428","type":"mqtt out","z":"6066f9ed.e44db8","name":"","topic":"mcs/Dwo0Ju0N/0kAAS32r0fDVc8hZ/Temperature","qos":"2","retain":"","broker":"cd51e01b.db3a9","x":480,"y":340,"wires":[]},{"id":"cd51e01b.db3a9","type":"mqtt-broker","z":"","name":"MCS Cloud","broker":"mqtt.mcs.mediatek.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]